<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/estilo.css' %}" rel="stylesheet">
    <title>Mostrar</title>

    <script>
        setInterval(() =>{
            var reloj = document.getElementsByClassName("reloj")[0];
            var tiempoActual = new Date();
            var hora = tiempoActual.getHours();
           
            if (segundos <10){
                segundos = `0${segundos}`
            }
            var minutos = tiempoActual.getMinutes();
            if(minutos<10){
                minutos = `0${minutos}`
            }
            
            var segundos = tiempoActual.getSeconds();
            if(segundos<10){
                segundos = `0${segundos}`
            }
            reloj.innerHTML = `${hora}:${minutos}:${segundos}`;
        },1000);
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="#">
            <img src="{% static 'img/gatos2.jpg' %}" width="100px" height="100px">
        </a>

        <div class="collapse navbar-collapse" id="opciones">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'quienes' %}">Quienes Somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'galeria' %}">Galeria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ayudanos' %}">Postúlate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gatos' %}">Sobre ellos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'api' %}">Casos de éxito</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'crear' %}">Ingresar Gato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mostrar' %}">Mostrar Gatos</a>
                </li>
            </ul>
        </div>

    </nav> <!--Nav-->
    
    
    <div class="container">
        <h2>Lista de Gatos</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Chip</th>
                    <th>Nombre</th>
                    <th>Raza</th>
                    <th>Modificar </th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for ve in mininos %}
                    <tr>
                        <td>{{ve.chip}}</td>
                        <td>{{ve.nombre}}</td>
                        <td>{{ve.raza}}</td>


                        {% if user.is_authenticated %}
                            <td><a href="{% url 'modificar' ve.chip %}" class="btn btn-primary">Modificar</a></td>
                            <td><a href="{% url 'eliminar' ve.chip %}" class="btn btn-danger">Eliminar</a></td>
                        {% else %}
                            <td><a href="#" class="btn btn-outline-primary">No tiene acceso para modificar</a></td>
                            <td><a href="#" class="btn btn-outline-danger">No tiene acceso para eliminar</a></td>
                        </tr>
                        {% endif %}

                {% endfor%}
            </tbody>
        </table>
        {% if user.is_authenticated %}
            <a href="{% url 'crear' %}" class="btn btn-primary" target="_blank">Crear Gato</a>
        {% else %}
            <a href="{% url 'home' %}" class="btn btn-success" target="_blank">Home</a>
        {% endif %}
    </div>

    
    <footer>
        <div class="row col-12">
        <div class="col-lg-2">
            <img src="{% static 'img/gatos2.jpg' %}" alt="Gato" width="100px">
        </div>
        <div class="col-lg-1">
            <a href="Inicio.html" id="linkFooter"><strong>INICIO</strong></a>
        </div>

        <div class="col-lg-1">
            <a href="QuienesSomos.html" id="linkFooter"><strong>Quienes Somos</strong></a>
        </div>

        <div class="col-lg-1">
            <a href="GaleriaFotos.html" id="linkFooter"><strong>Galería</strong></a>
        </div>

        <div class="col-lg-2">
            <FONT color="dodgerblue"><strong>Síguenos</strong></FONT>
            <br><br>
            <div class="row">
                <img src="{% static 'img/2000px-Facebook_font_awesome.svg.png' %}" alt="" width="30px" height="30px"
                    style=" margin-left: 15px;">
                <img src="{% static 'img/twitter.png' %}" alt="" width="30px" height="30px" style=" margin-left: 10px;">
                <img src="{% static 'img/Instagram.png' %}" alt="" width="30px" height="30px" style=" margin-left: 10px;">
            </div>
        </div>

            <div class="col-lg-3">

                <FONT color = "dodgerblue"><strong>Contacto</strong></FONT>
                <br><br>
                <div class="row">
                    <img src="{% static 'img/location.png' %}" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px;">
                    <p>Pje Leda 1043, Maipú</p>
                </div>
                <div class="row">
                    <img src="{% static 'img/fono.png' %}" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px;">
                    <p>225554000</p>
                </div>
                <div class="row">
                    <img src="{% static 'img/email.png' %}" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px;">
                    <p>consulta@GroundZero.cl</p>
                </div>
                <br><br><br>

                <p>Carlos Praihuán</p>
                <p>&copy; GroundZero - 2023</p>
            </div>
        </div>
        <h4 onmouseover="style.color = 'blue'" onmouseout="style.color= 'black'"" >Hora Actual</h4>
        <div onmouseover="style.color = 'blue'" onmouseout="style.color= 'black'"" class="reloj">12:30:30</div>
    </footer>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/validacion.js' %}"></script>
</html>